@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 10px;
}
.shrink {
  margin: auto;
  width: 97%;
}
.row {
  width: 1440px;
  margin: auto;
}
.menu {
  width: 920px;
}
.one {
  width: 100px;
}
.two {
  width: 250px;
}
.three {
  width: 350px;
}
.six {
  width: 732px;
}
.col-md-2, .col-md-6 {
  padding: 2px;
}
.left, .mid, .right {
  // height: 625px;
  padding: 0px 0px 5px 0px;
  // background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.12) 0%, rgba(125, 185, 232, 0.03) 100%);
  background-color: rgba(125, 180, 230, 0.08);
  border: 1px solid rgba(30, 87, 153, 0.1);
}
.tall {
  height: 1253px;
}
.short {
  height: 570px;
}
.top {
  height: 90px;
  text-align: center;
  width: 100%;
}
.top h4 {
  display: inline;
}
.cat-header {
  background-color: rgba(0, 100, 230, 0.05);
  border: 1px solid lightgray;
  width: 100%;
  height: 38px;
  padding: 6px;
  font-size: 1.3em;
}
.cat-post {
  border: 1px solid lightgray;
  width: 100%;
  height: 55px;
  padding: 8px;
}
.detail {
  height: 75px;
}
.bottom-align-div {
  position: absolute;
  bottom: 5px;
  left: 30px;
}
.email {
  color: blue;
}
.middiv {
  text-align: center;
}
.comment-padding {
  padding-left: 30px;
}
.post-header {
  padding: 6px;
  font-size: 1.1em;
}
