@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Libre Franklin', sans-serif; 
  background-color: rgba(120, 175, 225, 0.05);
}
.user-info {
  padding-top: 6px;
}
.user-info a {
  text-decoration: none;
  &:hover {
    background: transparent;
  }
}
.blue {
  color: #428bca;
 }
.shrink {
  margin: auto;
  width: 97%;
}
.navbar-brand {
  font-size: 1.7em;
  height: 25px;
  padding-top: 5px; 
  padding-bottom: 5px;
}
.navbar-nav > li > a {
  padding-top: 6px; 
  padding-bottom: 4px;
}
.navbar {
  min-height: 32px;
}
.pic img {
  display: block;
  margin: auto;
  opacity: 0.8;
}
.row {
  width: 1440px;
  margin: auto;
}
.menu {
  margin: auto;
  width: 920px;
}
.menu-height {
  height: 35px;
}
.one {
  width: 100px;
}
.two {
  width: 250px;
}
.three {
  width: 350px;
}
.six {
  width: 732px;
}
.col-md-2, .col-md-6 {
  padding: 2px;
}
.left, .mid, .right {
  padding: 0px;
  background-color: rgba(125, 180, 230, 0.08);
  border: 1px solid rgba(30, 87, 153, 0.1);
}
.tall {
  height: 1253px;
}
.short {
  height: 690px;
}
.top {
  height: 92px;
  text-align: center;
}
.cat-header {
  background-color: rgba(0, 100, 230, 0.05);
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  font-size: 1.3em;
}
.cat-post {
  border-bottom : 1px solid lightgray;
  width: 100%;
  height: 55px;
  padding: 10px 12px;
  position: relative;
}
.detail {
  height: 75px;
}
.bottom-align-div {
  position: absolute;
  bottom: 3px;
  left: 30px;
}
.email {
  color: darkblue;
}
.middiv {
  text-align: center;
}
.comment-padding {
  padding-left: 30px;
}
.post-header {
  padding: 6px;
  font-size: 1.1em;
}
.like {
  width: 50px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 5px 10px 5px 5px;
}
.voted {
  color: blue; 
}
.not-voted {
  color: black; 
}
.voted a {
  color: blue; 
  text-decoration: none;
  &:hover {
    background: transparent;
  }
}
.not-voted a {
  color: black; 
  text-decoration: none;
  &:hover {
    background: transparent;
  }
}
.time-post {
  position: absolute;
  bottom: 6px;
  left: 82px;
}
.comment-count {
  position: absolute;
  bottom: 6px;
  right: 8px;
}
.like-info {
  position: absolute;
  bottom: 4px;
  left: 420px;
}
.post-info {
  position: absolute;
  bottom: 4px;
  right: 7px;
}
.b {
  border: 1px solid black;
}