<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-6 top">
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <div class="left short">
      <p><h4>Guidelines for new categories:</h4></p>
      <ul>
        <li>Make sure the category is appropriate.</li>
        <li>Never insult dogs.</li>
        <li>Smile when you type.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mid short">
      <div>
        <%= render partial: 'form', locals: { category: @category, call_back: categories_path } %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="left short">
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>